:root {
  --bg: #fff;
  --bgDark: #f7f9fa;
  --bgDarker: #dce0e3;

  --primary: #141719;
  --primaryLight: #3d454c;
  --primaryDark: #000000;

  --secondary: #b2b9bf;
  --secondaryLight: #ced2d6;
  --secondaryLighter: #eef0f2;
  --secondaryLightest: #f0efef;
  --secondaryDark: #7e868c;

  --error: #d64033;

  --success: #07a350;

  --warning: #874d0e;
  --warningLight: #f5640f;
  --warningLighter: #fef0d0;

  --accent: #0070f1;
  --accentDark: #0754d1;
  --accentDarker: #0347a3;
  --accentDarkest: #003470;
  --accentLight: #7dd8fd;

  --accent2: #641bf5;
}
